body {
  padding-top: 50px;
}
#header-bar {
  background-color:rgb(28, 141, 217);
}

#header-font {
  color: rgba(255, 255, 255, 0);
  font-family: Tahoma;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.starter-template h1 {
  font-family: 黑体;
  color: rgb(28, 141, 217);
}
.starter-template p {
  color: rgba(28, 175, 255, 0.79);
}